<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="static/css/Holder.css">
    <link rel="stylesheet" href="static/css/root.css">
    <link rel="stylesheet" href="static/css/custom_alert.css">
    <link rel="icon" href="static/images/favicon.ico">
    <script src="static/js/custom_alert.js"></script>
    <title>О компании Монеты.ру</title>
  
</head>

<body>
    <div class="dashboard-container">
        <nav class="sidebar colapsed" id="sidebar"></nav>
        <div class="Sidebar"></div>

        <div class="Holder">
            <div className='About'>
                <section id="about">
                    <h2>О нашей компании</h2>
                    <p>Компания Монеты.ру была основана в 2022 году группой специалистов, профессионально работающих на рынке
                        банковской деятельности, инвестиций в драгметаллы. Мы специализируемся на продаже российских инвестиционных
                        монет из золота и серебра, а также слитков драгоценных металлов.</p>
                    <p>Компания имеет все необходимые лицензии для осуществления деятельности по покупке и продаже инвестиционных
                        монет, а также регистрацию в пробирной палате г. Москвы. Мы гарантируем конфиденциальность проводимых сделок,
                        так как безопасность и комфорт наших клиентов является приоритетом нашей Компании.</p>
                    <p>Качество и подлинность предлагаемых нашим клиентам монет гарантируется подтверждающими банковскими документами
                        и прямыми поставками из банков-партнёров. Качество и подлинности слитков гарантируется подтверждающими
                        сертификатами и информацией в ГИИС ДМДК Федеральной пробирной палаты.</p>
                </section>
            
                <section id="auction-rules">
                    <h2>Правила аукциона</h2>
                    <p>Аукцион проходит следующим образом: вы можете следить за новостями в нашем телеграм-канале, на Авито или на самом сайте в разделе "Предстоящие аукционы". Выберите аукцион, который вас интересует, и зарегистрируйтесь на него. После этого вы сможете предлагать свои ставки за лоты.</p>
                    <p><strong>ВАЖНО:</strong> Если аукцион начинается, например, в 15:00 и заканчивается в 18:00, а кто-то делает ставку в 17:59, то аукцион автоматически продлевается на 5 минут, чтобы другие участники могли предложить свои ставки. После победы в аукционе с победителем свяжется менеджер для составления договора, оплаты и передачи лота.</p>
                </section>
            
                <section id="guarantees">
                    <h2>Гарантии</h2>
                    <p>Магазин Монеты.ру гарантирует 100% подлинность всех продаваемых монет. Мы осуществляем покупку монет напрямую у
                        Банков-партнёров. Доступна услуга проверки подлинности монет в кассе Банка-партнёра за дополнительную плату.
                        Стоимость зависит от металла монеты и количества проверяемых монет.</p>
                    <p>Деятельность организации удостоверяется:</p>
                    <ul>
                        <li> Свидетельством о государственной<a href="https://www.rusprofile.ru/id/1225000007220"target="_blank"> регистрации № 1225000007220  </a></li>
                        <li>Номер в реестре специального учета юридических лиц и индивидуальных предпринимателей, осуществляющих операции с драгоценными металлами и драгоценными камнями <a href="https://probpalata.gov.ru/deyatelnost/specuchyot/" target="_blank">№ ЮЛ 5001001086</a>, присвоенный Министерством Финансов Российской Федерации 21 февраля 2022 г.</li>
            
                        <li>Организация зарегистрирована, состоит на специальном учёте в ГИИС ДМДК, проверить организацию Вы можете на
                            сайте <a href="https://probpalata.gov.ru/deyatelnost/specuchyot/" target="_blank">Федеральной пробирной палаты.</a></li>
                    </ul>
                
                </section>
            
                <section id="details">
                    <h2>Реквизиты компании</h2>
                    <ul>
                        <li><strong>Полное наименование организации:</strong> Общество с ограниченной ответственностью "Монеты.ру"</li>
                        <li><strong>Юридический адрес:</strong> 142116, Московская область, г.о. Подольск, г Подольск, пр-кт Революционный, д. 15, помещ. 4, ком. 1</li>
                        <li><strong>Почтовый адрес:</strong> 142116, Московская область, г.о. Подольск, г Подольск, пр-кт Революционный, д. 15, помещ. 4, ком. 1</li>
                        <li><strong>ИНН:</strong> 5074073274</li>
                        <li><strong>КПП:</strong> 507401001</li>
                        <li><strong>ОКВЭД (основной):</strong> 64.99.1</li>
                        <li><strong>ОГРН:</strong> 1225000007220</li>
                        <li><strong>"АЛЬФА-БАНК" Номер счета:</strong> 40701810102090000011</li>
                        <li><strong>БИК:</strong> 044525593</li>
                        <li><strong>К/С:</strong> 30101810200000000593 в ГУ БАНКА РОССИИ ПО ЦФО</li>
                        <li><strong>Генеральный директор:</strong> Маликова Ольга Викторовна</li>
                        <li><strong>Электронная почта:</strong> <a href="mailto:info@monety.shop">info@monety.shop</a></li>
                        <li><strong>Телефон:</strong> +7(903)598-92-14</li>
                        <li><strong>Сайт:</strong> <a href="https://monety.shop" target="_blank">https://monety.shop</a></li>
                    </ul>
                </section>
            </div>
        </div>    
    </div>
    
    <script src="static/js/SidebarLoad.js"></script>
</body>

</html>
