<link rel="stylesheet" href="static/css/Sidebar.css">
<link rel="stylesheet" href="static/css/custom_alert.css">


<div class="Sidebar">
    <div class="Header">
        <img src="static/images/logo.png" alt="Логотип">
        <span>Monety.ru</span>
    </div>

    <ul class="NavigationList">
        <li>
            <a href="/">
                <img src="static/images/hammer.svg" alt=" ">
                <span>Все лоты</span>
            </a>
        </li>
        <li>
            <a href="/account">
                <img src="static/images/user.svg" alt=" ">
                <span>Личный кабинет</span>
            </a>
        </li>
        <li>
            <a href="/about">
                <img src="static/images/about.svg" alt=" ">
                <span>О нас</span>
            </a>
        </li>
        <li>
            <a href="https://t.me/monety_shop">
                <img src="static/images/telegram.svg" alt=" ">
                <span>Анонсы в ТГ</span>
            </a>
        </li>
  
    </ul>

    <div class="UserBulb" onclick="handleLogout()">
        <div class="button">
            <img src="static/images/logout.svg" alt="Пользователь">
            <span class="Username" id="nickname">Войти</span>
        </div>
    </div>
</div>
